[submodule "client/Vendor/Catch2"]
	path = client/Vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "client/Vendor/SDL"]
	path = client/Vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
